<%= stylesheet_link_tag 'alltask.css' %>

<p id="notice"><%= notice %></p>

<%= Date.today%>
<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Completion</th>
      <th>Category</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks_today.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.body %></td>
        <td><%= task.completion %></td>
        <td><%= @categories.find(task.category_id).title %></td>
        <td><%= task.date %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<%= link_to 'New Category', new_category_path %>

